/* BODY STYLES START*/
body {
  background-color: rgba(163, 180, 146, 0.561);
}
div#root {
  color: rgb(255, 254, 254);
}
/* BODY STYLES END*/

/* LOGIN STYLES START */
#login_grid {
  padding: 10vmin;
}
/* LOGIN STYLES END */